# Unity
.DS_Store
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Unity Generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
AssetBundles/
Assets/AssetStoreTools
Assets/StreamingAssets/
Assets/TextMesh Pro/
Assets/Photon Unity Networking/
Assets/GoogleMobileAds/
Assets/Plugins/Android/GoogleMobileAds/
Assets/Plugins/iOS/GoogleMobileAds/

# Visual Studio Cache
.vs/

# Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Optional: If you use external packages not managed by Unity Package Manager
# /Packages/manifest.json
# /Packages/packages-lock.json

# Local Project Settings
# ProjectSettings/ProjectVersion.txt
# ProjectSettings/ProjectSettings.asset (if you want to ignore specific settings)